@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'VT323';
}
body {
  background-color: black;
  color: white;
}

#title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
}

#main-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  background-color: white;
}
.middle-text {
  font-size: 3rem;
  margin-top: 1.5rem;
}
.text {
  text-align: center;
}
.selection {
  display: flex;
  justify-content: center;
}
.frame-img,
.selection-img {
  height: 150px;
}
.selection-img:hover {
  background-color: blue;
  filter: invert();
}

#play-again {
  padding: 25px;
  font-size: 3rem;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
#play-again:hover {
  filter: invert();
}
